body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  color: white; 
}

h1 {
  margin: 20px 0;
}

.logo {
  text-align: center;
}

.logo h2 {
  margin: 10px 0; /* Gaya untuk tulisan "nyxvalen" */
}

input {
  padding: 15px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 24px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
  color: black;
}

#qrcode {
  margin-top: 20px;
}
